@model  List<Clothing.Models.Clothes>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Green Fox Fashion Web Store</h1>
    <select>
        <option value="jumper">Green Fox Jumper</option>
        <option value="swaeter">Half-Ip Ribbed Mock-Turtleneck Sweater</option>
        <option value="shirt">Green Fox Short-Sleeved Mesh Polo Shirt</option>
        <option value="cardigan">Wool/Alpaca Shawl Collar Cardigan</option>
        <option value="dress">Two-Tone Sleeveless Sheath Dress</option>
        <option value="skirt">Strecth Steamed Pencil Skirt</option>
    </select>
    <select>
        <option value="s">s</option>
        <option value="m">m</option>
        <option value="l">l</option>
        <option value="xl">xl</option>
        <option value="xxl">xxl</option>
    </select>
</body>
</html>